@mixin beforeBg {
	&::before {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 400%);
		font-size: 50px;
		text-align: center;
		@include small {
			transform: translate(-50%, 100%);
			font-size: 30px;					
		}
		@content;
	}
}
@mixin afterBg {
	&::after {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 600%);
		font-size: 50px;
		text-align: center;
		@include small {
			transform: translate(-50%, 300%);
			font-size: 30px;
		}
		@content;
	}
}

@mixin contentBg($content, $color) {
	content: $content;
	color: $color;
}

@mixin small {
	@media all and (max-width: 768px) {
	  @content;
	}
}
