.footer {
	position: absolute;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 18px;
	&__icon {
		width: 20px;
		margin-left: 5px;
		@include small {
			width: 15px;
			margin-left: 5px;
		}
	}
	&__link {
		font-weight: 400;
		text-decoration: none;
		color: whitesmoke;
		padding: 20px 20px 0 20px;
		&:hover {
			color: yellowgreen;
		}
		@include small {
			padding: 10px 10px 0 10px;		
		}
	}
	@include small {
		font-size: 14px;
		bottom: 10px;
		right: 10px;
	}
}
