.page {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  &__title {
    color: whitesmoke;
    text-align: center;
    display: block;
    font-size: 28px;
  }
  &__subtitle {
    color: whitesmoke;
    font-weight: 400;
    font-size: 24px;
  }
}

