.body {
	background-color: black;
}
.hidden {
	display: none;
}
.bg {	
	&-a {
		background-color: #9966cc;
		@include beforeBg {
			@include contentBg("Amethyst", #9F2B68);
		}
		@include afterBg {
			@include contentBg("#9966cc", #9F2B68);
		}
	}
	&-b {
		background-color: #deb887;
		@include beforeBg {
			@include contentBg("Burlywood", aliceblue);
		}
		@include afterBg {
			@include contentBg("#deb887", aliceblue);
		}
	}
	&-c {
		background-color: #fabada;
		@include beforeBg {
			@include contentBg("Cotton Candy", #dc143c);
		}
		@include afterBg {
			@include contentBg("#fabada", #dc143c);
		}
	}
	&-d {
		background-color: #FED85D;
		@include beforeBg {
			@include contentBg("Dandelion", #965b29);
		}
		@include afterBg {
			@include contentBg("#9932cc", #965b29);
		}
	}
	&-e {
		background-color: #279b61;
		@include beforeBg {
			@include contentBg("Eucalyptus", darkgreen);
		}
		@include afterBg {
			@include contentBg("#279b61", darkgreen);
		}
	}
	&-f {
		background-color: #b22222;
		@include beforeBg {
			@include contentBg("Firebrick", whitesmoke);
		}
		@include afterBg {
			@include contentBg("#b22222", whitesmoke);
		}
	}
	&-g {
		background-color: goldenrod;
		@include beforeBg {
			@include contentBg("Golden rod", 250a0a);
		}
		@include afterBg {
			@include contentBg("#9932cc", 250a0a);
		}
	}
	&-h {
		background-color: #f0fff0;
		@include beforeBg {
			@include contentBg("Honeydew", #757503);
		}
		@include afterBg {
			@include contentBg("#f0fff0", #757503);
		}
	}
	&-i {
		background-color: #4b0082;
		@include beforeBg {
			@include contentBg("Indigo", whitesmoke);
		}
		@include afterBg {
			@include contentBg("#4b0082", whitesmoke);
		}
	}
	&-j {
		background-color: #e0d191;
		@include beforeBg {
			@include contentBg("Jazzamoon", #250a0a);
		}
		@include afterBg {
			@include contentBg("#e0d191", #250a0a);
		}
	}
	&-k {
		background-color: #f0e68c;
		@include beforeBg {
			@include contentBg("Khaki", #250a0a);
		}
		@include afterBg {
			@include contentBg("#f0e68c", #250a0a);
		}
	}
	&-l {
		background-color: #32cd32;
		@include beforeBg {
			@include contentBg("Lime green", yellow);
		}
		@include afterBg {
			@include contentBg("#32CD32", yellow);
		}
	}
	&-m {
		background-color: #ff00ff;
		@include beforeBg {
			@include contentBg("Magenta", black);
		}
		@include afterBg {
			@include contentBg("#ff00ff", black);
		}
	}
	&-n {
		background-color: #E9FFDB;
		@include beforeBg {
			@include contentBg("Nyanza", #250a0a);
		}
		@include afterBg {
			@include contentBg("#e9ffdB", #250a0a);
		}
	}
	&-o {
		background-color: #808000;
		@include beforeBg {
			@include contentBg("Olive", #250a0a);
		}
		@include afterBg {
			@include contentBg("#808000", #250a0a);
		}
	}
	&-p {
		background-color: #800080;
		@include beforeBg {
			@include contentBg("Purple", #250a0a);
		}
		@include afterBg {
			@include contentBg("#800080", #250a0a);
		}
	}
	&-q {
		background-color: #4bba17;
		@include beforeBg {
			@include contentBg("Quartile", #250a0a);
		}
		@include afterBg {
			@include contentBg("#4CBB17", #250a0a);
		}
	}
	&-r {
		background-color: #E30B5C;
		@include beforeBg {
			@include contentBg("Razzmatazz", whitesmoke);
		}
		@include afterBg {
			@include contentBg("#E30B5C", whitesmoke);
		}
	}
	&-s {
		background-color: #fa8072;
		@include beforeBg {
			@include contentBg("Salmon", #353535);
		}
		@include afterBg {
			@include contentBg("#fa8072", #353535);
		}
	}
	&-t {
		background-color: #008080;
		@include beforeBg {
			@include contentBg("Teal", navy);
		}
		@include afterBg {
			@include contentBg("#008080", navy);
		}
	}
	&-u {
		background-color: #4b019c;
		@include beforeBg {
			@include contentBg("Ultraviolet", whitesmoke);
		}
		@include afterBg {
			@include contentBg("#4b019c", whitesmoke);
		}
	}
	&-v {
		background-color: #ee82ee;
		@include beforeBg {
			@include contentBg("Violet", whitesmoke);
		}
		@include afterBg {
			@include contentBg("#ee82ee", whitesmoke);
		}
	}
	&-w {
		background-color: #f5deb3;
		@include beforeBg {
			@include contentBg("Wheat", #cc8809);
		}
		@include afterBg {
			@include contentBg("#f5deb3", #cc8809);
		}
	}
	&-x {
		background-color: #ffb6c1;
		@include beforeBg {
			@include contentBg("Xylophone", #353535);
		}
		@include afterBg {
			@include contentBg("#ffb6c1", #353535);
		}
	}
	&-y {
		background-color: #a97164;
		@include beforeBg {
			@include contentBg("Yapan", yellowgreen);
		}
		@include afterBg {
			@include contentBg("#a97164", yellowgreen);
		}
	}
	&-z {
		background-color: #bc8a52;
		@include beforeBg {
			@include contentBg("Zoboba", maroon);
		}
		@include afterBg {
			@include contentBg("#bc8a52", maroon);
		}
	}
}
